In [1]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff

In [2]:
D_2017_1_01 = 'https://raw.githubusercontent.com/Amcdonne95/SeniorDesignData/master/Drive%20Auto%20Receivables%20Trust/DRIVE%202017-1/2017/05%20May/2017.06.15_Drive%20Auto%20Receivables%20Trust%202017-1%20Data%20Tape.csv'

In [3]:
groupDict = {
    'vehicleNewUsedCode':{
        1:'New',
        2:'Used'
    },
    'vehicleTypeCode':{
        1:'Car',
        2:'Truck',
        3:'SUV',
        4:'Motorcycle',
        98:'Other',
        99:'Unknown'
    },
    'subvented':{
        0:'Not Subvented',
        1:'Rate Subvented',
        2:'Cash Subvented',
        3:'Rate & Cash Subvented',
        98:'Other Subvention'
    },
    'obligorIncomeVerificationLevelCode':{
    1:'Not Stated, Not Verified',
    2:'Not Verified',
    3:'Verified',
    4:'Verified: 12 M',
    5:'Verified: 24 M'
    },
    'obligorEmploymentVerificationCode':{
    1:'Not Stated, Not Verified',
    2:'Not Verified',
    3:'Third Party Verified'
    }
    #'vehicleValueAmount':
}

In [5]:
df = pd.read_csv(D_2017_1_01, memory_map=True, low_memory=False)

In [6]:
list(df.columns)

['assetTypeNumber',
 'assetNumber',
 'reportingPeriodBeginningDate',
 'reportingPeriodEndingDate',
 'originatorName',
 'originationDate',
 'originalLoanAmount',
 'originalLoanTerm',
 'loanMaturityDate',
 'originalInterestRatePercentage',
 'interestCalculationTypeCode',
 'originalInterestRateTypeCode',
 'originalInterestOnlyTermNumber',
 'originalFirstPaymentDate',
 'underwritingIndicator',
 'gracePeriodNumber',
 'paymentTypeCode',
 'subvented',
 'vehicleManufacturerName',
 'vehicleModelName',
 'vehicleNewUsedCode',
 'vehicleModelYear',
 'vehicleTypeCode',
 'vehicleValueAmount',
 'vehicleValueSourceCode',
 'obligorCreditScoreType',
 'obligorCreditScore',
 'obligorIncomeVerificationLevelCode',
 'obligorEmploymentVerificationCode',
 'coObligorIndicator',
 'paymentToIncomePercentage',
 'obligorGeographicLocation',
 'assetAddedIndicator',
 'remainingTermToMaturityNumber',
 'reportingPeriodModificationIndicator',
 'servicingAdvanceMethodCode',
 'reportingPeriodBeginningLoanBalanceAmount',
 'nextReportingPeriodPaymentAmountDue',
 'reportingPeriodInterestRatePercentage',
 'nextInterestRatePercentage',
 'servicingFeePercentage',
 'servicingFlatFeeAmount',
 'otherServicerFeeRetainedByServicer',
 'otherAssessedUncollectedServicerFeeAmount',
 'scheduledInterestAmount',
 'scheduledPrincipalAmount',
 'otherPrincipalAdjustmentAmount',
 'reportingPeriodActualEndBalanceAmount',
 'reportingPeriodScheduledPaymentAmount',
 'totalActualAmountPaid',
 'actualInterestCollectedAmount',
 'actualPrincipalCollectedAmount',
 'actualOtherCollectedAmount',
 'servicerAdvancedAmount',
 'interestPaidThroughDate',
 'zeroBalanceEffectiveDate',
 'zeroBalanceCode',
 'currentDelinquencyStatus',
 'primaryLoanServicerName',
 'mostRecentServicingTransferReceivedDate',
 'assetSubjectDemandIndicator',
 'assetSubjectDemandStatusCode',
 'repurchaseAmount',
 'DemandResolutionDate',
 'repurchaserName',
 'repurchaseReplacementReasonCode',
 'chargedoffPrincipalAmount',
 'recoveredAmount',
 'modificationTypeCode',
 'paymentExtendedNumber',
 'repossessedIndicator',
 'repossessedProceedsAmount']

In [20]:
def deal_metrics(data):
    balance = data['reportingPeriodActualEndBalanceAmount'].sum()
    average_bal = data['reportingPeriodActualEndBalanceAmount'].mean()
    observations = len(data.index)
    df = pd.DataFrame([balance, average_bal, observations], index=['Total Balance', 'Average Loan Balance',
                                                                  'Number of Loans'])
    df.index.name='Deal Metrics'
    df=df.reset_index().rename(columns={0:'Metrics'}).round(2)
    return df

In [21]:
deal_table = ff.create_table(deal_metrics(df))
py.iplot(deal_table, filename='pandas-table')

           Deal Metrics       Metrics
0         Total Balance  1.382670e+09
1  Average Loan Balance  1.714706e+04
2       Number of Loans  8.063600e+04

In [85]:
def mapData(deal, mapDict, col_list):
    for i in col_list:
        # deal[str(i)] = pd.to_numeric(deal[str(i)], errors='coerce')
        deal[str(i)] = deal[str(i)].map(mapDict[str(i)])
    return deal

WA = lambda x: np.average(x, axis=0, weights=df.loc[x.index, 'reportingPeriodActualEndBalanceAmount'])*100

def calculate_metrics(data):
    data['pctDeal'] = (data['reportingPeriodActualEndBalanceAmount'] / (data['reportingPeriodActualEndBalanceAmount'].sum()))
    data['LTV'] = (data['originalLoanAmount'] / data['vehicleValueAmount'])*100
    return data

In [95]:
df = pd.read_csv(D_2017_1_01, memory_map=True, low_memory=False)

In [96]:
df = mapData(df, groupDict, ['vehicleTypeCode', 'vehicleNewUsedCode',
                             'obligorIncomeVerificationLevelCode',
                             'obligorEmploymentVerificationCode'])
df = calculate_metrics(df)
table_rename_cols = {
    'vehicleNewUsedCode':'Vehicle Stats',
    'vehicleManufacturerName':'Make',
    'obligorGeographicLocation':'State',
    'vehicleModelName':'Model',
    'vehicleModelYear':'Model Year',
    'vehicleTypeCode':'Type',
    'obligorIncomeVerificationLevelCode':'Income Verification',
    'obligorEmploymentVerificationCode':'Employment Verification',
    'subvented':'Subvented',
    'originalLoanTerm':'Original Term',
    'remainingTermToMaturityNumber':'Remaining Term',
    'originalInterestRatePercentage':'APR (%)',
    'LTV':'LTV (%)',
    'pctDeal':'Deal (%)'
}

In [97]:
def vehicle_stats(data):
    df = data[['pctDeal']].groupby(data['vehicleNewUsedCode']).sum()*100
    df = df.round(2)
    print(df)
    yearRange = [str(data['vehicleModelYear'].min()) + '-' + str(data['vehicleModelYear'].max())]
    yearRange = pd.DataFrame(yearRange, index=['Model Year Range'], columns=['pctDeal'])
    df = df.append(yearRange)
    df.index.name='vehicleNewUsedCode'
    print(df)
    df = df.reset_index().rename(columns=table_rename_cols)
    return df

In [98]:
def car_state(data, metric):
    df = (data[['pctDeal']].groupby(data[metric]).sum()).sort_values(['pctDeal'], ascending=False).head(3)*100
    df = df.round(2)
    if len(df.index) != 3:
            for i in range(0, (3 - len(df.index))):
                paddedRow = pd.DataFrame(['--'], index=['--'], columns=['pctDeal'])
                df = df.append(paddedRow)
    #df.index.name=str(metric)
    df = df.rename(columns=table_rename_cols)
    return df

In [99]:
def wa_stats(data, metricList):
    wa_dict = {}
    for i in metricList:
        if i == 'originalLoanTerm' or i == 'remainingTermToMaturityNumber' or i == 'LTV':
            wa_dict[i] = WA(data[i])/100
        else:
            wa_dict[i] = WA(data[i])
    df = pd.DataFrame.from_dict(wa_dict, orient='index').rename(index=table_rename_cols).round(2)
    if len(df.index) != 3:
            for i in range(0, (3 - len(df.index))):
                paddedRow = pd.DataFrame(['--'], index=['--'])
                df = df.append(paddedRow)
    df = df.reset_index()
    df = df.rename(columns={'index':'Credit Metrics', 0:'Weighted Average'})
    return df

In [100]:
vehicle = vehicle_stats(df)
print(vehicle)
model = car_state(df, 'vehicleModelName')
make = car_state(df, 'vehicleManufacturerName')
year = car_state(df, 'vehicleModelYear')
vehicle_type = car_state(df, 'vehicleTypeCode')
state = car_state(df, 'obligorGeographicLocation')
income = car_state(df, 'obligorIncomeVerificationLevelCode')
employment = car_state(df, 'obligorEmploymentVerificationCode')
#subvented = car_state(df, 'subvented')
metrics = wa_stats(df, ['originalLoanTerm', 'remainingTermToMaturityNumber', 'originalInterestRatePercentage'])
LTV = wa_stats(df,['LTV'])

                    pctDeal
vehicleNewUsedCode
New                   24.09
Used                  75.91
                      pctDeal
vehicleNewUsedCode
New                     24.09
Used                    75.91
Model Year Range    2002-2018
      Vehicle Stats   Deal (%)
0               New      24.09
1              Used      75.91
2  Model Year Range  2002-2018

In [101]:
first_result = pd.concat([vehicle, make, model, year, vehicle_type, state], axis=1)
second_result = pd.concat([income, employment, metrics, LTV], axis=1)

C:\Users\austi\Anaconda3\lib\site-packages\pandas\core\indexes\range.py:433: RuntimeWarning:

'<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects

C:\Users\austi\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:43: RuntimeWarning:

'<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects

C:\Users\austi\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning:

'>' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects

In [102]:
first_result

,Vehicle Stats,Deal (%),Deal (%),Deal (%),Deal (%),Deal (%),Deal (%)
0,New,24.09,NaN,NaN,NaN,NaN,NaN
1,Used,75.91,NaN,NaN,NaN,NaN,NaN
2,Model Year Range,2002-2018,NaN,NaN,NaN,NaN,NaN
NISSAN,NaN,NaN,13.73,NaN,NaN,NaN,NaN
TOYOTA,NaN,NaN,8.44,NaN,NaN,NaN,NaN
CHEVROLET,NaN,NaN,7.94,NaN,NaN,NaN,NaN
Altima,NaN,NaN,NaN,4.26,NaN,NaN,NaN
Ram 1500,NaN,NaN,NaN,3.06,NaN,NaN,NaN
Sentra,NaN,NaN,NaN,2.97,NaN,NaN,NaN
2017,NaN,NaN,NaN,NaN,18.95,NaN,NaN
2014,NaN,NaN,NaN,NaN,17.73,NaN,NaN
2016,NaN,NaN,NaN,NaN,15.41,NaN,NaN
Car,NaN,NaN,NaN,NaN,NaN,59.98,NaN
SUV,NaN,NaN,NaN,NaN,NaN,27.44,NaN
Truck,NaN,NaN,NaN,NaN,NaN,12.58,NaN
TX,NaN,NaN,NaN,NaN,NaN,NaN,15.70
FL,NaN,NaN,NaN,NaN,NaN,NaN,11.11
GA,NaN,NaN,NaN,NaN,NaN,NaN,7.50

In [103]:
second_result

,Deal (%),Deal (%),Credit Metrics,Weighted Average,Credit Metrics,Weighted Average
--,--,NaN,NaN,NaN,NaN,NaN
"Not Stated, Not Verified",NaN,5.31,NaN,NaN,NaN,NaN
Not Verified,84.1,81.40,NaN,NaN,NaN,NaN
Third Party Verified,NaN,13.29,NaN,NaN,NaN,NaN
Verified,15.9,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,Original Term,69.95,LTV (%),108.6
1,NaN,NaN,Remaining Term,68.33,--,--
2,NaN,NaN,APR (%),19.28,--,--

In [105]:
table = ff.create_table(second_result)

In [106]:
py.iplot(table, filename='pandas-table')